.encabezado{
    text-align: center;
    color: rgb(5, 5, 5);
    font-weight:600;
    font-size: 180%;
    height: 100%;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caja{
    padding-bottom: 10px;
   
    
}

.info{
    text-align: center;
    
}

.img-fluid{
    border-radius: 20px;
    width: 1000px;
}

.text{
    font-size: 100%;
    font-family:serif;
}


